.article {
  padding: inherit;
  background-color: inherit;
  border-bottom: 2px outset;
}

a{
  color: inherit;
  text-decoration: none;
}

.article-pic {
  height: 75px;
}

.article-title {
  font-weight: bold;
  color: inherit;
}