.article {
  padding: inherit;
  background-color: inherit;
  border-bottom: 2px outset;
  width: 100%;
}
.article:hover{
  color: #3c3a49;
  background-color: #a6a1ca;
}

img {
  height: 75px;
  padding: 5px;
}

a{
  color: inherit;
  text-decoration: none;
}

.article-pic {
  height: 75px;
}

.article-title {
  font-weight: bold;
  color: inherit;
}