body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222029;
  color: #a6a1ca;
  width: 500px;
  max-height: 800px;
}

div {
  display: inline-block;
}

.app {
  display: flex;
}

.nav {
  display: flex;
  flex-basis: 5%;
  flex-direction: column;
  background-color: #222029;
}

.articles {
  flex-grow: 1;
  height: 100vh;
  width: 95%;
  position: sticky;
  overflow: scroll;
}

button {
  background-color: #222029;
  color: inherit;
  border: none;
  border-bottom: 2px solid #a6a1ca;
  border-left: 2px solid #a6a1ca;
  height: 50px;
  border-radius: 5px;
}

button:hover{
  color: #222029;
  background-color: #a6a1ca;
}